body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 600px) {
  /* Ajustements pour les écrans plus petits */
  body {
    font-size: 16px;
  }

  /* Ajustez les éléments pour qu'ils ne dépassent pas la largeur de l'écran */
  .element {
    width: 100%; /* ou ajustez selon le contexte */
    margin: 0 auto;
  }

  /* Exemples de styles pour des colonnes */
  .col {
    width: 100%;
    margin-bottom: 15px; /* pour espacer les éléments empilés */
  }

  body {
    font-size: 14px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column; /* Empile les éléments verticalement sur les petits écrans */
  }
}

.container {
  width: 90%; /* Utilisez un pourcentage au lieu de pixels pour une largeur relative */
  max-width: 1200px; /* Vous pouvez aussi limiter la largeur maximum pour les écrans larges */
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}